<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title><%=title%></title>
</head>
<body>
    
    <div class="container">
        <div class="div2">
            <center>
                <form action="/greeting" method="POST">
                   <h1> <i> Happy independence day <%=Name%> </i></h1>
                </form>
            </center>
        </div>     
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>